<!--<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">-->
<!--  <a class="navbar-brand" routerLink="/">-->
<!--    <img alt="brandImg" class="img-brand" src="../../../assets/images/heart.png">-->
<!--    <span class="text-coloured"> D-Health</span>-->
<!--    &lt;!&ndash; <span style="color: #E7E6F7;"> StudTest</span> &ndash;&gt;-->
<!--  </a>-->
<!--  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar"-->
<!--          aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->

<!--  <div class="navbar-collapse collapse flex-row-reverse" id="navbar">-->

<!--    <div *ngIf="isLoggedIn()">-->
<!--      <ul class="navbar-nav mr-1">-->
<!--        <li class="nav-item">-->
<!--          &lt;!&ndash;<a class="nav-link" routerLink="/account">Welcome, {{username}}</a>&ndash;&gt;-->
<!--          &lt;!&ndash; test variant &ndash;&gt;-->
<!--          <a class="nav-link text-coloured" routerLink="/account">-->
<!--            &lt;!&ndash;{{username}}&ndash;&gt;-->
<!--            Profile-->
<!--          </a>-->

<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link text-coloured" (click)="logout()" routerLink="/login">Logout</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->

<!--    <div *ngIf="!isLoggedIn()">-->
<!--      <ul class="navbar-nav">-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link text-coloured" routerLink="/login">Sign in</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link text-coloured" routerLink="/registration">Sign up</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->
<!--<br><br>-->

<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink="/">
    <img alt="brandImg" class="img-brand" src="../../../assets/images/heart.png">
    <span style="color: #E7E6F7;"> D-Health</span>
  </a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar"
          aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse flex-row-reverse" id="navbar">

    <div *ngIf="isLoggedIn()">
      <ul class="navbar-nav mr-1">
        <li class="nav-item">
          <div *ngIf="username ? {} : logout()">
            <a class="nav-link" routerLink="/account">Welcome, {{username}}</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()" routerLink="/login">Logout</a>
        </li>
      </ul>
    </div>

    <div *ngIf="!isLoggedIn()">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Sign in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/registration">Sign up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br><br>

