
  <div class="row ">
    <div class="col-md-3">
      <div align="center">

        <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
        id="profile-image1" class="img-circle img-responsive userpic">
        <div>
          <button (click)="editUser()" class="btn btn-success btn1" style="width: 196px">Edit profile</button>

        </div>
      </div>
    </div>



    <div class="col-md-8">
      <div class="card loginForm">
      <!-- Name -->
        <div class="card-block card-content">
          <table>
            <thead>
            <tr class="second"><th colspan="2"><h3 class="card-title" align="left">Account details</h3></th></tr>
            </thead>
            <tr>
              <td>
                <b >Username: </b>
              </td>
              <td>
                {{currentUser?.username}}
              </td>
            </tr>
            <tr class="second">
              <td>
                <b>First name: </b>
              </td>
              <td>
                {{currentUser?.firstName}}
              </td>
            </tr>
            <tr>
              <td>
                <b>Second name: </b>
              </td>
              <td>
                {{currentUser?.secondName}}
              </td>
            </tr>
            <tr class="second">
              <td>
                <b>Email: </b>
              </td>
              <td>
                {{currentUser?.email}}
              </td>
            </tr>
            <tr>
              <td>
                <b>Registration date: </b>
              </td>
              <td>
                {{currentUser?.registrationDate}}
              </td>
            </tr>
            <tr class="second">
              <td>
                <b>Birthday: </b>
              </td>
              <td>
                26.12.1992
              </td>
            </tr>
            <tr>
              <td>
                <b>Address: </b>
              </td>
              <td>
                2121121 Tōkyō-to Chiyoda-ku Marunouchi
              </td>
            </tr>

          </table>
        </div>
      </div>
      <div class="card actblock">
        <div class="card-block card-content">
          <table>
            <thead>
              <tr class="second"><th colspan="3"><h3 class="card-title" align="left">Latest activities</h3></th></tr>
            </thead>
            <tr class="second">
              <th>Trip name</th>
              <th>From</th>
              <th>To</th>
            </tr>
            <tr class="second">
              <td>
                <b>Best trip in my life</b>
              </td>
              <td>
                Tōkyō
              </td>
              <td>
                Santafé de Bogotá
              </td>
            </tr>
          </table>
        </div>
      </div>

      <!--<div align="right"><button (click)="deleteUser()" class="btn btn-danger btn2" >Delete profile</button></div>-->
    </div>

  </div>
