
<!--<div class="row mt-3">-->
<!--  <div class="container">-->
    <div class="row descriptionText">

      <div class="col-md-12 py-3 card roundedCard">
        <div class="row">
          <div class="col-md-12">
            <div class="row px-5">
              <b>Description:</b>
            </div>

            <div class="row px-4">
              HERERE
            </div>
          </div>
        </div>
      </div>
    </div>

<!--    <div class="row mt-3">-->
<!--      <div class="col-md-12 pt-3 pb-0 card roundedCard pagDiv">-->
<!--        <jw-pagination [items]="glucoseRecords" (changePage)="onChangePage($event)" [pageSize]="20"></jw-pagination>-->
<!--      </div>-->
<!--    </div>-->

    <div class="row mt-3">
      <div class="col-md-12 pt-2 card  roundedCard">

        <div class="row mt-1">
          <div class="col-md-12 pt-1 pb-0 pagDiv">
            <jw-pagination [items]="glucoseRecords" (changePage)="onChangePage($event)" [pageSize]="20"></jw-pagination>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 noPadding table-column-header table-column-header-left">
            Time of measurement
          </div>
          <div class="col-md-3 noPadding table-column-header table-column-header-right">
            Value (mg/dl)
          </div>
          <div class="col-md-3 noPadding table-cell-top addRecordCell">
            <button class="btn styledButton float-right addRecordButton" color="pink" mdbBtn mdbWavesEffect>
              Add record
<!--              <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>-->
            </button>
          </div>
        </div>


        <div class="row">
          <!--<b>&#45;&#45;Feedback placeholder&#45;&#45;</b>-->
          <div class="col-md-12 noPadding" *ngFor="let record of onPageRecords; let i=index">

            <div class="row" *ngIf="!(i % 2)">
              <div class="col-md-12 noPadding">

<!--                <div class="row">-->
<!--                  <div class="col-md-12 pl-5">-->
<!--                    <b class="mr-1" *ngIf="message.user != null">{{message.user.details.firstName}}-->
<!--                      {{message.user.details.lastName}}</b>-->
<!--                    <b class="mr-1" *ngIf="message.user == null">You </b>-->
<!--                    <ngb-rating class="pl-2" [(rate)]="message.rating" [max]="5" [readonly]="true"></ngb-rating>-->
<!--                  </div>-->
<!--                </div>-->

                <div class="row">
                  <div class="col-md-6 pl-3 table-cell table-cell-left pt-3">
                    {{record.eventTime | date: 'EEEE dd/MM/yyyy'}} at {{record.eventTime | date: 'HH:mm:ss'}}
                  </div>
                  <div class="col-md-2 pl-3 table-cell pt-3 glucoseValue">
                    {{record.value}}
                  </div>
                  <div class="col-md-4 pt-1 pb-1 pl-3 table-cell table-cell-right">
                    <button class="btn-sm deleteButton float-right" color="pink" mdbBtn mdbWavesEffect>
                      Delete
                      <!--              <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>-->
                    </button>
                    <button class="btn-sm styledButton float-right" color="pink" mdbBtn mdbWavesEffect>
                      Edit
                    </button>
                  </div>
                </div>

              </div>
            </div>

            <div class="row greyComment" *ngIf="(i % 2)">
              <div class="col-md-12 noPadding">

<!--                <div class="row">-->
<!--                  <div class="col-md-12 pl-5">-->
<!--                    <b class="mr-1" *ngIf="message.user != null">{{message.user.details.firstName}}-->
<!--                      {{message.user.details.lastName}}</b>-->
<!--                    <b class="mr-1" *ngIf="message.user == null">You </b>-->
<!--                    <ngb-rating class="pl-2" [(rate)]="message.rating" [max]="5" [readonly]="true"></ngb-rating>-->
<!--                  </div>-->
<!--                </div>-->

                <div class="row">
                  <div class="col-md-6 pl-3 table-cell table-cell-left pt-3">
                    {{record.eventTime | date: 'EEEE dd/MM/yyyy'}} at {{record.eventTime | date: 'HH:mm:ss'}}
                  </div>
                  <div class="col-md-2 pl-3 table-cell pt-3 glucoseValue">
                    {{record.value}}
                  </div>
                  <div class="col-md-4 pt-1 pb-1 pl-3 table-cell table-cell-right">
                    <button class="btn-sm deleteButton float-right" color="pink" mdbBtn mdbWavesEffect>
                      Delete
                      <!--              <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>-->
                    </button>
                    <button class="btn-sm styledButton float-right" color="pink" mdbBtn mdbWavesEffect>
                      Edit
                    </button>
                  </div>
                </div>

              </div>
            </div>

          </div>

        </div>
        <div class="row greyComment commentFooter pb-3" *ngIf="!(glucoseRecords.length % 2)"></div>
        <div class="row commentFooter pb-3" *ngIf="glucoseRecords.length % 2"></div>
      </div>
    </div>

<!--<input type="button" value="Добавить" class="btn btn-default" (click)="addUser()" />-->
<!--<table class="table table-striped">-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <td>Id</td>-->
<!--    <td>Имя</td>-->
<!--    <td>Возраст</td>-->
<!--    <td></td>-->
<!--    <td></td>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr *ngFor="let user of users">-->
<!--    <ng-template [ngTemplateOutlet]="loadTemplate(user)"-->
<!--                 [ngTemplateOutletContext]="{ $implicit: user}">-->
<!--    </ng-template>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->
<!--<div>{{statusMessage}}</div>-->


<!--&lt;!&ndash;шаблон для чтения&ndash;&gt;-->
<!--<ng-template #readOnlyTemplate let-user>-->
<!--  <td>{{user.id}}</td>-->
<!--  <td>{{user.name}}</td>-->
<!--  <td>{{user.age}}</td>-->
<!--  <td>-->
<!--    <input type="button" value="Изменить" class="btn btn-default" (click)="editUser(user)" />-->
<!--  </td>-->
<!--  <td>-->
<!--    <input type="button" value="Удалить" (click)="deleteUser(user)" class="btn btn-danger" />-->
<!--  </td>-->
<!--</ng-template>-->

<!--&lt;!&ndash;шаблон для редактирования&ndash;&gt;-->
<!--<ng-template #editTemplate>-->
<!--  <td>-->
<!--    <input type="number" [(ngModel)]="editedUser.id" readonly disabled class="form-control" />-->
<!--  </td>-->
<!--  <td>-->
<!--    <input type="text" [(ngModel)]="editedUser.name" class="form-control" />-->
<!--  </td>-->
<!--  <td>-->
<!--    <input type="number" [(ngModel)]="editedUser.age" class="form-control" />-->
<!--  </td>-->
<!--  <td>-->
<!--    <input type="button" value="Сохранить" (click)="saveUser()" class="btn btn-success" />-->
<!--  </td>-->
<!--  <td>-->
<!--    <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />-->
<!--  </td>-->
<!--</ng-template>-->


<!--    <div class="row mt-3" *ngIf="isFeedbackAllowed">-->
<!--      <div class="col-md-12 pt-3 pb-2 card roundedCard">-->

<!--        <form [formGroup]="feedbackForm" (ngSubmit)="addFeedback(feedbackForm.value)">-->
<!--          <div class="row px-3">-->
<!--            <div class="col-md-12">-->

<!--              <ng-template #st let-fill="fill">-->
<!--              <span class="smallerStar" [class.full]="fill === 100">-->
<!--                &#9733;-->
<!--              </span>-->
<!--              </ng-template>-->

<!--              <label for="rating">Your score: </label>-->
<!--              <ngb-rating class="pl-2" id="rating" [formControl]="feedbackForm.controls.rating" [starTemplate]="st"-->
<!--                          max="5"></ngb-rating>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="row px-3">-->
<!--            <div class="col-md-12">-->

<!--              <label for="message">Your message: </label>-->
<!--              <textarea-->
<!--                class="form-control"-->
<!--                formControlName="feedbackMessage"-->
<!--                id="message"-->
<!--                placeholder="Type your feedback here"-->
<!--                rows="5"-->
<!--                [ngClass]="{ 'is-invalid': feedbackForm.controls.feedbackMessage.errors }"></textarea>-->

<!--              <div *ngIf="feedbackForm.controls.feedbackMessage.errors" class="invalid-input">-->
<!--                <div *ngIf="feedbackForm.controls.feedbackMessage.errors.minlength">Feedback must be at least 3-->
<!--                  characters long-->
<!--                </div>-->
<!--                <div *ngIf="feedbackForm.controls.feedbackMessage.errors.maxlength">Feedback must be less than 2048-->
<!--                  characters long-->
<!--                </div>-->
<!--              </div>-->

<!--            </div>-->
<!--          </div>-->

<!--          <div class="row px-3 pt-3" *ngIf="!isFeedbackGiven">-->
<!--            <div class="offset-md-10"></div>-->
<!--            <div class="col-md-2 my-auto px-auto">-->
<!--              <button type="submit" class="btn btn-sm btn-block float-right styledButton" mdbBtn color="indigo"-->
<!--                      mdbWavesEffect>-->
<!--                Submit-->
<!--                <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>-->
<!--              </button>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="row px-3 pt-3" *ngIf="isFeedbackGiven">-->
<!--            <div class="offset-md-8"></div>-->
<!--            <div class="col-md-2 my-auto px-2">-->
<!--              <button type="button" class="btn btn-sm btn-block float-right styledButton" mdbBtn color="indigo"-->
<!--                      mdbWavesEffect (click)="removeFeedback(feedbackForm.value)">-->
<!--                Remove-->
<!--                <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>-->
<!--              </button>-->
<!--            </div>-->

<!--            <div class="col-md-2 my-auto px-2">-->
<!--              <button type="button" class="btn btn-sm btn-block float-right styledButton" mdbBtn color="indigo"-->
<!--                      mdbWavesEffect (click)="updateFeedback(feedbackForm.value)">-->
<!--                Update-->
<!--                <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>-->
<!--              </button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </form>-->

<!--      </div>-->
<!--    </div>-->

<!--  </div>-->
<!--</div>-->
