<!--<div class="row mt-3">-->
<!--  <div class="container">-->
<div class="row mt-0">

  <div *ngIf="possibleValue != null && glucoseRecords != null && glucoseRecords.length > 10"
       class="col-md-12  card roundedCard pl-1 pr-1 pb-3 pt-1">
    <div class="row">
      <div class="col-md-10 pl-0 pr-0">
        <div class="row">
          <div class="col-md-5 pt-2 pr-0 possibleGlucoseHeaderText">
            Info on possible future glucose level:
            <!--        <div class="row px-5">-->
            <!--          <b>Description:</b>-->
            <!--        </div>-->

            <!--        <div class="row px-4">-->
            <!--          HERERE-->
            <!--        </div>-->
          </div>
          <div class="col-md-4 pl-2">
            <ng-template [ngTemplateOutlet]="loadInfoTemplateByValueForPrediction(possibleValue)"></ng-template>
          </div>
          <div class="col-md-5">
          </div>
        </div>
        <div class="row pt-2">
          <div class="col-md-6 possibleGlucoseText pr-0">
            Approximate time: <b class="colouredText">{{possibleValue.approximateTime | date: 'EEEE dd/MM/yyyy'}}
            at {{possibleValue.approximateTime | date: 'HH:mm:ss'}}</b>
          </div>
          <div class="col-md-6 possibleGlucoseText pl-2">
            Approximate value: from <b class="colouredText">{{possibleValue.min | number:'1.0-2'}}</b> to <b
            class="colouredText">{{possibleValue.max | number:'1.0-2'}}</b>
          </div>

        </div>
      </div>
      <div class="col-md-2 pt-4 pl-0 pr-2">
        <button (click)="loadPrediction()" class="btn btn-block blueButton float-right addRecordButton" color="indigo"
                mdbBtn
                mdbWavesEffect>
          Refresh
          <i *ngIf="loadingPrediction" class="fa fa-spinner fa-spin"></i>
        </button>
      </div>
    </div>

    <!--      <div class="col-md-4 pt-2 pr-0">-->
    <!--        Info on possible future glucose level:-->
    <!--&lt;!&ndash;        <div class="row px-5">&ndash;&gt;-->
    <!--&lt;!&ndash;          <b>Description:</b>&ndash;&gt;-->
    <!--&lt;!&ndash;        </div>&ndash;&gt;-->

    <!--&lt;!&ndash;        <div class="row px-4">&ndash;&gt;-->
    <!--&lt;!&ndash;          HERERE&ndash;&gt;-->
    <!--&lt;!&ndash;        </div>&ndash;&gt;-->
    <!--      </div>-->
    <!--      <div class="col-md-3 pl-3">-->
    <!--        <ng-template [ngTemplateOutlet]="loadInfoTemplateByValue(possibleValue.min)"></ng-template>-->
    <!--      </div>-->
    <!--      <div class="col-md-5">-->
    <!--      </div>-->
    <!--    </div>-->
    <!--    <div class="row pt-3">-->
    <!--      <div class="col-md-5 possibleGlucoseText">-->
    <!--        Approximate time: <b class="colouredText">{{possibleValue.approximateTime | date: 'EEEE dd/MM/yyyy'}} at {{possibleValue.approximateTime | date: 'HH:mm:ss'}}</b>-->
    <!--      </div>-->
    <!--      <div class="col-md-5 possibleGlucoseText">-->
    <!--        Approximate value: from <b class="colouredText">{{possibleValue.min | number:'1.0-2'}}</b> to <b class="colouredText">{{possibleValue.max | number:'1.0-2'}}</b>-->
    <!--      </div>-->
    <!--      <div class="col-md-2 possibleGlucoseText">-->
    <!--        REFRESH-->
    <!--      </div>-->
    <!--    </div>-->
  </div>
</div>

<div class="row mt-3">
  <div class="col-md-12 card roundedCard pl-1 pr-1 pb-3 pt-1">
    <div [ngClass]="{'chart-container pt-2 pl-2 pr-2' : glucoseRecords != null && glucoseRecords.length > 4,
    'displayNone': glucoseRecords == null || glucoseRecords.length <= 4}"
         class="">
      <!--    <div class="chart-container" style="position: relative; height:80vh; width:80vw">-->
      <canvas #myCanvas id="canvas"></canvas>
      <!--      <canvas #myCanvas id="canvas">{{linechart}}</canvas>-->
    </div>

    <div class="pt-3 centeredText" *ngIf="glucoseRecords == null || glucoseRecords.length <= 4">
      More records are required to see chart
    </div>
  </div>
</div>


<!--    <div class="row mt-3">-->
<!--      <div class="col-md-12 pt-3 pb-0 card roundedCard pagDiv">-->
<!--        <jw-pagination [items]="glucoseRecords" (changePage)="onChangePage($event)" [pageSize]="20"></jw-pagination>-->
<!--      </div>-->
<!--    </div>-->

<div class="row mt-3">
  <div class="col-md-12 pt-2 card roundedCard">

    <div class="row mt-1">
      <div class="col-md-9 pt-1 pb-0 pagDiv">
        <jw-pagination [items]="glucoseRecords" (changePage)="onChangePage($event)" [pageSize]="20"></jw-pagination>
      </div>
      <div class="col-md-3 pt-1 pb-0 pagDiv">
        <div class="hidden-file">
              <input type="file" #fileInput ng2FileSelect accept=".csv" [uploader]="uploader" (change)="onChangeFile($event)"/>
<!--                     (onFileSelected)="onFileSelected($event)"/>-->
            </div>
        <button (click)="fileInput.click()" type="button" class="btn btn-sm addRecordButton blueButton float-right" color="indigo" mdbBtn>
          Upload from csv <i *ngIf="loadingFile" class="fa fa-spinner fa-spin"></i>
        </button>
      </div>
    </div>


    <div class="row">
      <div class="col-md-4 noPadding table-column-header table-column-header-left">
        Time of measurement
      </div>
      <div class="col-md-2 noPadding table-column-header">
        Value (mg/dl)
      </div>
      <div class="col-md-3 noPadding table-column-header table-column-header-right">
        Info
      </div>
      <div *ngIf="!editedRecord" class="col-md-3 noPadding table-cell-top addRecordCell">
        <button (click)="addRecord()" class="btn blueButton float-right addRecordButton" color="indigo" mdbBtn
                mdbWavesEffect>
          Add record
          <!--              <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>-->
        </button>
      </div>

      <div *ngIf="editedRecord" class="col-md-3 noPadding table-cell-top addRecordCell">
        <button disabled class="btn blueButton float-right addRecordButton" color="indigo" mdbBtn mdbWavesEffect>
          Add record
          <!--              <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>-->
        </button>
      </div>
    </div>

    <div *ngIf="glucoseRecords == null || glucoseRecords.length == 0" class="row">
      <div class="col-md-12 pt-3 pb-2 centeredText">
        Try to add new glucose record
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 noPadding" *ngFor="let record of onPageRecords; let i=index">

        <div class="row" *ngIf="!(i % 2)">
          <div class="col-md-12 noPadding">

            <div class="row">
              <ng-template [ngTemplateOutlet]="loadRecordTemplate(record)"
                           [ngTemplateOutletContext]="{ $implicit: record}">
              </ng-template>
            </div>

          </div>
        </div>

        <div class="row greyComment" *ngIf="(i % 2)">
          <div class="col-md-12 noPadding">

            <div class="row">
              <ng-template [ngTemplateOutlet]="loadRecordTemplate(record)"
                           [ngTemplateOutletContext]="{ $implicit: record}">
              </ng-template>
            </div>

          </div>
        </div>

      </div>

    </div>
    <div class="row commentFooter pb-3"></div>
  </div>
</div>

<ng-template #fineGlucoseInfo>
  <div class="alert alert-success" role="alert">
    Fine glucose
  </div>
</ng-template>

<ng-template #hypoRisk>
  <div class="alert alert-warning" role="alert">
    Hypoglycemia risk
  </div>
</ng-template>

<ng-template #hypoState>
  <div class="alert  alert-danger" role="alert">
    Hypoglycemic state
  </div>
</ng-template>

<ng-template #hyperRisk>
  <div class="alert alert-warning" role="alert">
    Hyperglycemia risk
  </div>
</ng-template>

<ng-template #hyperState>
  <div class="alert alert-danger" role="alert">
    Hyperglycemic state
  </div>
</ng-template>

<ng-template #regularRow let-record>
  <div class="col-md-4 pl-3 table-cell table-cell-left pt-3">
    {{record.eventTime | date: 'EEEE dd/MM/yyyy'}} at {{record.eventTime | date: 'HH:mm:ss'}}
  </div>
  <div class="col-md-2 pl-3 table-cell pt-3 glucoseValue">
    {{record.value}}
  </div>
  <div class="col-md-3 pl-3 table-cell">
    <ng-template [ngTemplateOutlet]="loadInfoTemplate(record)"></ng-template>
  </div>
  <div class="col-md-3 pt-1 pb-1 pl-3 table-cell table-cell-right">
    <button (click)="prepareForDeletion(record)" class="btn-sm deleteButton float-right" color="pink" mdbBtn
            mdbWavesEffect
            data-toggle="modal" data-target="#modalConfirmDelete">
      Delete
      <!--              <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>-->
    </button>
    <button (click)="editRecord(record)" class="btn-sm blueButton float-right" color="pink" mdbBtn mdbWavesEffect>
      Edit
    </button>
  </div>
</ng-template>

<ng-template #editableRow>
  <div class="col-md-4 pl-3 table-cell table-cell-left pt-2 pb-2">
    <!--    <input type="datetime-local" [ngModel]="editedRecord.eventTime | date:'yyyy-MM-ddTHH:mm'"-->
    <!--           (ngModelChange)="dateChanged($event)" class="form-control" />-->

    <input [(ngModel)]="editedRecord.eventTime"
           [owlDateTimeTrigger]="dtPicker1" [owlDateTime]="dtPicker1" class="form-control">
    <owl-date-time #dtPicker1></owl-date-time>
  </div>
  <div class="col-md-2 pl-3 table-cell pt-2 pb-2 glucoseValue">
    <input type="number" [(ngModel)]="editedRecord.value" class="form-control"/>
  </div>
  <div class="col-md-3 pl-3 table-cell">
    <ng-template [ngTemplateOutlet]="loadInfoTemplate(editedRecord)"></ng-template>
  </div>
  <div class="col-md-3 pt-1 pb-1 pl-3 table-cell table-cell-right">
    <button (click)="cancel()" class="btn-sm deleteButton float-right" color="indigo" mdbBtn mdbWavesEffect>
      Cancel
      <!--              <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>-->
    </button>
    <button (click)="saveRecord()" class="btn-sm blueButton float-right" color="indigo" mdbBtn mdbWavesEffect>
      Save
    </button>
  </div>
</ng-template>

<!--Modal: modalConfirmDelete-->
<div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Are you sure?</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fas fa-times fa-4x animated rotateIn"></i>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <a (click)="deleteRecord()" type="button" class="btn deleteButton btn-indigo" data-dismiss="modal">Yes</a>
        <a type="button" class="btn blueButton btn-indigo waves-effect" data-dismiss="modal">No</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: modalConfirmDelete-->
